# Agregaci칩n de datos por columna

In [1]:
import numpy as np
import pandas as pd

In [5]:
gender = ["Male", "Female"]
economic_class = ["Poor", "Middle Class", "Rich"]

In [7]:
n = 500

gender_data = []
economic_class_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    economic_class_data.append(np.random.choice(economic_class))

In [8]:
gender_data[1:10]

['Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female']

In [9]:
economic_class_data[1:10]

['Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Poor',
 'Middle Class',
 'Middle Class']

In [10]:
# z -> N(0,1)
# N(media, desviaci칩n est치ndar) -> media + desviaci칩n * z

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.rand(n)
age = 30 + 12 * np.random.rand(n)
income = 18000 + 3500 * np.random.rand(n)

In [12]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : economic_class_data,
        "Height" : height,
        "Weight" : weight,
        "Age" : age,
        "Income" : income
    }
)

In [13]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Poor  144.554985  85.183943  41.129469  20242.222365
1    Male            Poor  191.530566  76.560405  39.699023  18334.947665
2    Male            Poor  168.559011  88.138990  40.624081  20153.818049
3  Female            Poor  168.880147  83.623735  33.875811  18892.985340
4  Female            Poor  190.585285  71.863777  39.560130  19556.788996